<?xml version="1.0"?>
<ruleset name="YamlComments">
  <description>The coding standard for klausi/yaml_comments.</description>

  <rule ref="PSR2" />
  <file>.</file>
  <exclude-pattern>*/vendor/*</exclude-pattern>

  <rule ref="Generic.Arrays.DisallowLongArraySyntax" />

  <rule ref="Generic.Files.LineLength">
    <exclude name="Generic.Files.LineLength.TooLong"/>
  </rule>
  <rule ref="PSR2.ControlStructures.SwitchDeclaration">
    <exclude name="PSR2.ControlStructures.SwitchDeclaration.TerminatingComment"/>
  </rule>
</ruleset>
